<div>
  <button mat-raised-button color="primary" routerLink="/tasks">Manage Tasks<mat-icon
      color="secondary">add_task</mat-icon></button>

</div>
<p></p>
<div>

  <button mat-raised-button color="primary" style="margin-right:5%" routerLink="/meals">Manage Meals<mat-icon
      color="secondary">restaurant_menu</mat-icon></button>

</div>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<div>

  <button mat-raised-button color="warn" style="margin-right:5%" routerLink="/backup">Backup data<mat-icon
      color="secondary">backup</mat-icon></button>

</div>